@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1.2s infinite;
}
.delay-150 {
  animation-delay: 0.15s;
}
.delay-300 {
  animation-delay: 0.3s;
}

i:hover {
  color: white;
}

.M {
  animation: M 1s infinite;
}
